<app-header></app-header>
<!-- <div class="spinner-border m-5" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
<div class="container-global">
  <div class="imagem">
    <img src="../../../assets/atividadeFisica3.jpg" />
  </div>

  <div class="conteudo">
    <h1>Bem-vindo ao AulaFlex!</h1>
    <p>
      Estamos muito felizes em ter você aqui no nosso espaço dedicado à dança e
      aos aeróbicos. Aqui, acreditamos que o movimento é uma poderosa ferramenta
      para melhorar a saúde, a disposição e, claro, a autoestima. Seja você um
      iniciante ou um expert, temos opções para todos os níveis e objetivos.
    </p>
    <p>
      Sinta-se em casa e aproveite cada momento. Estamos aqui para te apoiar em
      cada passo da sua jornada. Faça agora sua inscrição, logo abaixo!
    </p>
  </div>
</div>

<!-- Fitness -->
<div class="categoria-bar" id="fitness">
  <h3>Fitness</h3>
</div>

<div class="container my-5">
  <div id="fitnessCarousel" class="carousel slide my-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container
        *ngFor="let grupo of aulasFiltradas('Fitness'); let i = index"
      >
        <div class="carousel-item" [class.active]="i === 0">
          <div class="row">
            <div *ngFor="let aula of grupo" class="col-md-4">
              <div class="card">
                <img
                  [src]="obterImagemPorAula(aula.nome)"
                  class="card-img-top"
                  alt="Imagem do Card"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ aula.nome }}</h5>
                  <hr />
                  <p class="card-text">{{ aula.descricao }}</p>
                  <button
                    class="btn btn-primary"
                    (click)="abrirModal(aula.idAula)"
                  >
                    Inscrever-se
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#fitnessCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#fitnessCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Dança -->
<div class="categoria-bar" id="danca">
  <h3>Dança</h3>
</div>

<div class="container my-5">
  <div id="dancaCarousel" class="carousel slide my-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container
        *ngFor="let grupo of aulasFiltradas('Dança'); let i = index"
      >
        <div class="carousel-item" [class.active]="i === 0">
          <div class="row">
            <div *ngFor="let aula of grupo" class="col-md-4">
              <div class="card">
                <img
                  [src]="obterImagemPorAula(aula.nome)"
                  class="card-img-top"
                  alt="Imagem do Card"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ aula.nome }}</h5>
                  <hr />
                  <p class="card-text">{{ aula.descricao }}</p>
                  <button
                    class="btn btn-primary"
                    (click)="abrirModal(aula.idAula)"
                  >
                    Inscrever-se
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#dancaCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#dancaCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Artes Marciais -->
<div class="categoria-bar" id="artes-marciais">
  <h3>Artes Marciais</h3>
</div>

<div class="container my-5">
  <div
    id="artesMarciaisCarousel"
    class="carousel slide my-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <ng-container
        *ngFor="let grupo of aulasFiltradas('Artes Marciais'); let i = index"
      >
        <div class="carousel-item" [class.active]="i === 0">
          <div class="row">
            <div *ngFor="let aula of grupo" class="col-md-4">
              <div class="card">
                <img
                  [src]="obterImagemPorAula(aula.nome)"
                  class="card-img-top"
                  alt="Imagem do Card"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ aula.nome }}</h5>
                  <hr />
                  <p class="card-text">{{ aula.descricao }}</p>
                  <button
                    class="btn btn-primary"
                    (click)="abrirModal(aula.idAula)"
                  >
                    Inscrever-se
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#artesMarciaisCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#artesMarciaisCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div
  class="modal fade"
  id="modalDetalhes"
  tabindex="-1"
  aria-labelledby="modalDetalhesLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetalhesLabel">Inscrição</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div *ngIf="inscricaoRealizada" class="alert alert-success mt-3">
        Inscrição realizada com sucesso!
      </div>
      <div class="modal-body">
        <div *ngIf="!colaborador">
          <p class="fs-4 text-center mt-4 text-dark">
            Para aproveitar as nossas aulas, faça seu
            <a href="/login">login</a> ou, se ainda não tem uma conta,
            <a href="/criarConta">crie agora</a>!
          </p>
        </div>

        <label for="dia" *ngIf="colaborador"
          >Selecione o dia:</label
        >
        <select
          id="dia"
          class="form-select"
          [(ngModel)]="diaSelecionado"
          (change)="carregarHorarios(idAulaSelecionada)"
          required
          *ngIf="colaborador"
        >
          <option value="" disabled selected>Selecione o dia</option>
          <option
            *ngFor="let horario of horariosDisponiveis"
            [value]="horario.dia"
          >
            {{ horario.dia }}
          </option>
        </select>

        <div *ngIf="diaSelecionado" class="mt-3">
          <label for="horario">Selecione o horário:</label>
          <select
            id="horario"
            class="form-select"
            [(ngModel)]="horarioSelecionado"
            (change)="verificarInscricao()"
            required
          >
            <option value="" disabled selected>Selecione o horário</option>
            <option
              *ngFor="let horario of filtrarHorariosPorDia(diaSelecionado)"
              [value]="horario.IdHorario"
              [disabled]="horario.VagasDisponiveis === 0"
            >
              {{ horario.Hora }} - {{ horario.VagasDisponiveis }} vagas
            </option>
          </select>
        </div>

        <div
          *ngIf="horariosDisponiveis.length == 0 && colaborador"
          class="mt-3"
        >
          <p>Não há horários disponíveis para o dia selecionado.</p>
        </div>

        <div class="alert alert-danger mt-3" *ngIf="error">
          {{ error }}
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="
            !diaSelecionado ||
            !horarioSelecionado ||
            diaSelecionado === '' ||
            horarioSelecionado === '' ||
            inscricaoExistente
          "
          (click)="inscrever()"
          *ngIf="colaborador"
        >
          Confirmar inscrição
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
