body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Mandali", sans-serif;
}

.app-content {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

:host {
  font-family: "Mandali", sans-serif;
  scroll-behavior: smooth;
}
