<app-header></app-header>
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card" style="width: 100%; max-width: 470px">
    <div class="card-body">
      <h3 class="card-title text-center">Login</h3>

      <!-- Formulário de Login -->
      <form (ngSubmit)="onSubmit()">
        <!-- Campo de E-mail -->
        <div class="mb-3 position-relative">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder=" "
            required
          />
          <label for="email" class="form-label position-absolute start-0 ms-3"
            >Email</label
          >
        </div>

        <!-- Campo de Senha -->
        <div class="mb-2 position-relative">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder=" "
            required
          />
          <label
            for="password"
            class="form-label position-absolute start-0 ms-3"
            >Senha</label
          >
        </div>

        <!-- Link para redefinir senha -->
        <div class="text-end mt-2">
          <a href="/redefinirSenha" class="text-decoration-none"
            >Esqueceu sua senha?</a
          >
        </div>

        <!-- Botão de Login -->
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-success w-50">Entrar</button>
        </div>
        <div class="d-flex justify-content-center mt-3">
  <a href="#" class="me-3">
    <img src="../../../assets/facebook.png" alt="Login com Facebook" class="social-icon">
  </a>
  <a href="#">
    <img src="../../../assets/google.png" alt="Login com Google" class="social-icon">
  </a>
</div>

      </form>

      <!-- Mensagem de erro -->
      <div *ngIf="error" class="mt-3 alert alert-danger">
        {{ error }}
      </div>

      <!-- Link para criar uma conta -->
      <div
        class="text-start mt-3"
        style="position: absolute; bottom: 15px; left: 20px"
      >
        <p class="mb-0">
          Não tem conta?
          <a href="/criarConta" class="text-decoration-none">Criar uma conta</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
