<app-header></app-header>
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card" style="width: 100%; max-width: 440px">
    <div class="card-body">
      <h3 class="card-title text-center">Redefinir senha</h3>

      <form (ngSubmit)="onSubmit()">
  <div class="mb-2 position-relative">
    <input
      type="password"
      class="form-control"
      id="novaSenha"
      name="novaSenha"
      [(ngModel)]="novaSenha"
      placeholder=" "
      required
    />
    <label for="novaSenha" class="form-label position-absolute start-0 ms-3">
      Nova Senha
    </label>
  </div>

  <div class="mb-2 position-relative">
    <input
      type="password"
      class="form-control"
      id="confirmarSenha"
      name="confirmarSenha"
      [(ngModel)]="confirmarSenha"
      placeholder=" "
      required
    />
    <label for="confirmarSenha" class="form-label position-absolute start-0 ms-3">
      Confirmar Senha
    </label>
  </div>

        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-success w-50">Confirmar</button>
        </div>
      </form>

    </div>
  </div>
</div>

<app-footer></app-footer>
