<app-header></app-header>
<div class="categoria-bar">
  <h3>Inscrições</h3>
</div>

<div *ngIf="inscricoes.length > 0; else noInscricoes">
  <div class="card mb-4" *ngFor="let inscricao of inscricoes">
    <div class="card-body grid-container">
      <div class="categoria-container">
        <p class="card-text categoria">
          {{ inscricao.Categoria }} - {{ inscricao.Aula }}
        </p>
        <hr />
      </div>
      <p class="card-text status">Status: {{ inscricao.Status }}</p>
      <p class="card-text horario">{{ inscricao.DiaSemana }} - {{ inscricao.Hora }}h</p>
      <p class="card-text dataInicio">Início: {{ inscricao.DataInicio | date: 'dd/MM/yyyy' }}</p>
      <p class="card-text dataFim">Fim: {{ inscricao.DataFim | date: 'dd/MM/yyyy' }}</p>
    </div>
  </div>
</div>

<ng-template #noInscricoes>
  <div class="alert alert-info text-center mt-4">
    <p>Você ainda não possui nenhuma inscrição em aulas.</p>
  </div>
</ng-template>

<app-footer></app-footer>
