.container-global {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px); /* Ajuste para considerar altura do navbar e footer */
    position: relative;
    overflow: hidden;
}
