.container-global {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    position: relative;
    overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}
